@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: linear-gradient(rgba(255, 255, 255), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(../images/Clothing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero {
    background: url(../images/Education.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

#donate {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}